@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-style {
    @apply bg-gray-50 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white sm:text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 block w-full p-2.5;
  }
}